<!DOCTYPE html>
<html lang="en" ng-app="SimpleChatApp">
    <head>
        <meta charset="UTF-8">
        <base href="/">
        <title>SimpleChat</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>
    <body>
        <div ng-view></div>
        <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
        <script src="/vendor/angularjs-utilities/src/directives/rcSubmit.js"></script>
        <script src="/vendor/angularjs-utilities/src/modules/rcForm.js"></script>
        <script src="/vendor/spin.js/spin.js"></script>
        <script src="/vendor/angular-spinner/angular-spinner.js"></script>
        <script src="/js/controllers/participantPageCtrl.js"></script>
        <script src="/js/controllers/loginPageCtrl.js"></script>
        <script src="/js/controllers/hostPageCtrl.js"></script>
        <script src="/js/factories/chat.js"></script>
        <script src="/js/factories/httpLoadInterceptor.js"></script>
        <script src="/js/factories/user.js"></script>
        <script src="/js/appRoutes.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>